<%- include("partials/header.ejs") %>

<h1>Hello Everyone this is a capstone project that is made in an online course
    Known as web development course 2023
</h1>

<%- include("partials/footer.ejs") %>